@model List<Market.APIService.Controllers.View1_3_3PModel> 
<div class="card" style="width:100%">
    <div class="card-content"  style="width:100%">
        <div class="card-content-inner">
            <div class="row  no-gutter">
                <div class="col-50">型号</div>
                
                <div class="col-25">日销量</div>
                <div class="col-25">月销量</div>
            </div>
            @{ 
                foreach (var item in Model)
                {
            <div class="row  no-gutter" style="border-top:1px solid;">
                <div class="col-50">@item.text1</div>
               
                @{
                    if (item.qty2 == 0)
                    {
                        <div class="col-25">&nbsp;</div>
                    }
                    else
                    {
                        <div class="col-25">@item.qty2.ToString("N0")</div>
                    }
                    if (item.qty3 == 0)
                    {
                        <div class="col-25">&nbsp;</div>
                    }
                    else
                    {
                        <div class="col-25">@item.qty3.ToString("N0")</div>
                    }
                }
                
                
                
            </div>
                    }
                }
        </div>
    </div>
    </div>