<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataSynchronizationStanbyLib.Properties.Settings.ConnectionString"
            connectionString="CONNECTION TIMEOUT=60;DATA SOURCE=JS5_qc;PASSWORD=foxconn_hpsi10$QC;PERSIST SECURITY INFO=True;USER ID=HPSI10_QC"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>