<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DataSynchronizationLib.Properties.Settings.ConnectionString"
      connectionString="DATA SOURCE=JS5_qc;CONNECTION TIMEOUT=60;PASSWORD=foxconn_hpsi10$QC;PERSIST SECURITY INFO=True;USER ID=HPSI10_QC"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="NFineDbContext" connectionString="server=127.0.0.1;user id=njms;persistsecurityinfo=True;database=market_app_db;Password=njms1984"
      providerName="MySql.Data.MySqlClient" />
    <add name="DataSynchronizationLib.Properties.Settings.StandbyConnectionString"
      connectionString="DATA SOURCE=JS5_qc;CONNECTION TIMEOUT=60;PASSWORD=foxconn_hpsi10$QC;PERSIST SECURITY INFO=True;USER ID=HPSI10_QC" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
</configuration>