<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="server=127.0.0.1;user id=njms;persistsecurityinfo=True;database=market_app_db;Password=njms1984" providerName="MySql.Data.MySqlClient" />
  <add name="DataSynchronizationLib.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=JS5_qc;CONNECTION TIMEOUT=60;PASSWORD=foxconn_hpsi10$QC;PERSIST SECURITY INFO=True;USER ID=HPSI10_QC" providerName="Oracle.ManagedDataAccess.Client" />

</connectionStrings>